<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="index.js" charset="utf-8"></script>
    <!--<script src="nunjucks.js"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/profile_style.css">


    <script>
        function myFunction() {
            document.getElementById("btnSend").disabled = true;
        }

        function validate_in() {
            var msg = window.messagefield.username.value;
            if (msg.length(msg) == 0) {
                document.getElementById("btnSend").disabled = true;
                return;
            }
            document.getElementById("btnSend").disabled = false;
        }
    </script>
</head>
<body>
<div align="center" id="body">

    <br/><br/>
    <!-- ----------------------------------------------------------------------------------------------------------  -->
    <div id="callHasEndedMessage" class="alert alert-success" role="alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <center><span>
                  </span></center>
        </button>
        Call has ended
    </div>

    <div id="callWindow" style="display: none;">
        <div class="alert alert-success" role="alert">

            <div class="c" style="text-align: center;">
                Incoming call from <strong><label id="callerName"></label></strong>
                <br/><br/>
                <button type="button" class="btn btn-success" id="answer">Answer</button>
                <button type="button" class="btn btn-danger" id="deny">Deny</button>
            </div>
        </div>
    </div>

    <div id="userInCallAlertBox" class="alert alert-warning alert-dismissible fade show" role="alert"
         style="display: none;">
        <lable id="userInCallLbl"></lable>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <table border="1" width="88%" id="main">
        <tr>
            <td width="30%">
                <table>
                    <tr>
                        <td style="height:450px; text-align: left">
                            <h5>Hello:</h5>
                            <div id="myContact" align="left"></div>
                            <hr style="border-color: black"/>
                            <h5> connected users</h5>

                            <div id="contactList" align="left"><

                                <!--
                                <button class="chip">
                                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Person" width="96" height="96">
                                    John Doe
                                </button>
                                -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" checked data-toggle="toggle" id="closeMyVideoBtn"
                                   style="visibility: hidden">
                            <video id="myVideo"></video>

                        </td>
                    </tr>
                </table>
            </td>


            <td id="mainfeed" width="50%" height="400px"
                style="background-image: url('https://www.redbytes.in/wp-content/uploads/2018/10/516Z2skgMML._SY355_.jpg')">
                <!--<img id="logo" src="http://i63.tinypic.com/vz92y8.png" />-->
                <table width="100%">
                    <tr>
                        <td align="center">
                            <lable id="callWithLbl"></lable>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <center>
                                <video id="videoMain"></video>
                                <br/>
                                <br/>
                                <br/>
                                <button type="button" class="btn btn-danger" id="endCall" style="visibility: hidden;">
                                    End Call
                                </button>
                                <br/>
                                <br/>
                                <div id="callButtons" style="visibility: hidden">
                                    <img id="audioButton"
                                         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSECKmguesfSHxGievwLyyZroJI7yfugkk5IugriHVLXkLwUDIc"
                                         width="40" height="40"> <!-- audio --> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp;
                                    <img id="videoButton"
                                         src="http://ipropertymedia.ca/wp-content/uploads/2015/11/video-cam-icon.png"
                                         width="50" height="50"> <!--video-->
                                </div>
                                <br/>
                                <div id="loading" class="loader" style="visibility: hidden;"><h4>Calling</h4></div>
                            </center>
                        </td>
                    </tr>
                </table>
                <br/>
            </td>

            <td>
                <h5>Chat Messages</h5>
                <div class="chatbox">

                    <div id="chatlogs" class="chatlogs">

                    </div>
                    <!-- <form action="http://localhost:5000/message" class="form" method="post"> -->
                    <form action="" class="form" method="post" onSubmit="return false">
                        <div class="chat-form">
                            <input id="textfield" placeholder="Write your message here" name="messagefield" type="text"
                                   onkeyup="stoppedTyping()">
                            <button id="btnSend">Send</button>
                            <input type="hidden" value="foo" name="user_id"/>
                        </div>
                    </form>
                </div>
            </td>
        </tr>
    </table>

</div>

<!-- ----------------------------------------------------------------------------------------------------------  -->

<br/><br/><br/>

<div style="display: none;background-color: antiquewhite;width: 20%">
    <hr/>
    <label>Your ID:</label><br/>
    <textarea id="yourId"></textarea><br/>
    <label>Other ID:</label><br/>
    <textarea id="otherId"></textarea>
    <button id="connect">connect</button>
    <br/>

    <label>Enter Message:</label><br/>
    <textarea id="yourMessage"></textarea>
    <button id="send">send</button>
    <pre id="messages"></pre>


    <ul id="messages"></ul>
    <hr/>
    <form action="" id="videoChatForm">
        Please enter partner email: <input id="targetEmail" autocomplete="off"/>
        <br/><br/>
        Please enter your video id: <input id="myVideoId" autocomplete="off"/>
        <br/> <br/>
        <!--<button id="start">Start Conversation</button>-->
        <input type="submit" id="startConversation" value="Start Conversation"/>
    </form>
    <hr/>
</div>

<script language="JavaScript">
    var userEmail = '<%= person %>';
    window.originalUser = userEmail;
    var clientsOnCall = [];
    $(function () {

        var socket = io();
        window.socket = socket;
        $('form').submit(function (e) {
            e.preventDefault(); // prevents page reloading
            var targetEmail = $('#targetEmail').val();
            window.targetUser = targetEmail;
            socket.emit('startVideoChat', {
                targetEmail: targetEmail,
                peerId: $('#yourId').val(),
                userEmail: userEmail
            });
            $('#targetEmail').val('');
            $('#myVideoId').val('');
            return false;
        });

        socket.on('contactListChanged', function (msg) {
            // $('#messages').append($('<li>').text(msg));
            console.log('contactListChanged, all clients: ' + JSON.stringify(msg.allClients));
            createContactList(msg.allClients);
        });

        socket.on('chat message', function (msg) {
            $('#messages').append($('<li>').text(msg));
        });

        socket.on('askForVideoChat', function (msg) {
            console.log('asked for video chat: ' + msg);
            document.getElementById('callerName').textContent = msg.requesterEmail;
            document.getElementById('callWindow').style.display = "block"; // block / inline
            var myMusicR = document.getElementById("musicR");
            myMusicR.currentTime = 0;
            myMusicR.play();
            //TODO: map email to name

            window.targetUser = msg.requesterEmail;

            document.getElementById('answer').onclick = function () {
                var myMusicR = document.getElementById("musicR");
                myMusicR.pause();
                document.getElementById('callWindow').style.display = "none";
                userAnswer();
            };

            document.getElementById('deny').onclick = function () {
                document.getElementById('callWindow').style.display = "none";
                socket.emit('denyVideoChat', {
                    denyUser: window.originalUser,
                    deniedUser: window.targetUser
                });
                document.location.reload();
                window.initiateVideoChat();
                window.location.href = "http://" + location.hostname + ":8081/";
            };

            function userAnswer() {
                var otherPeerId = msg.requesterCode;
                var requesterEmail = msg.requesterEmail;
                window.targetUser = requesterEmail;
                // window.alert(requesterEmail + " asked for video chat");
                $('#otherId').val(otherPeerId);
                $('#connect').click();

                setTimeout(function () {
                    var myId = $('#yourId').val();
                    console.log('myId: ' + myId.substr(0, 20));
                    console.log('requesterEmail: ' + requesterEmail);
                    socket.emit('answareVideoChat', {
                        originalEmail: requesterEmail,
                        answaredId: myId
                    });
                }, 8000);
            }
        });

        socket.on('ansForVideoChat', function (msg) {
            console.log('answare for video chat: ' + msg);

            var otherPeerId = msg.peerId;
            $('#otherId').val(otherPeerId)
            $('#connect').click();
            var myMusic = document.getElementById("musicC");
            myMusic.pause();
            socket.emit('videoChatCreated', {
                originalUser: window.originalUser,
                targetUser: window.targetUser
            });
        });

        socket.on('deniedVideoChat', function (msg) {
            console.log('deny for video chat from: ' + msg.denyUser);
            alert(`The user ${msg.denyUser} can not accept your call.`);
            document.getElementById('loading').style.display = "none";
            document.location.reload();
            window.initiateVideoChat();
            window.location.href = "http://" + location.hostname + ":8081/";
        });

        socket.on('clientsOnCallUpdate', function (data) {
            console.log('clientsOnCallUpdate data: ' + data);
            clientsOnCall = data;
        });

        console.log('User email is: ' + userEmail);
        socket.emit('add-user', {email: userEmail});
    });

    function endCallFunc() {
        // Clear old conversation
        var chatsDiv = document.getElementById("chatlogs");
        chatsDiv.innerHTML = '';
        $('#callWithLbl')[0].innerHTML = '';
        $('#endCall')[0].style.visibility = 'hidden';
        $('#closeMyVideoBtn')[0].style.visibility = 'hidden';
        $('#callButtons')[0].style.visibility = 'hidden';
        $('#videoMain')[0].srcObject = null;
        $('#myVideo')[0].srcObject = null;
        window.initiateVideoChat();
        window.socket.emit('endCall', {originalUser: window.originalUser});
    }

    function sendSpecialCommand(specialCommand) {
        $('#textfield')[0].value = specialCommand;
        $('#btnSend').click();
    }

    window.onload = function () {
        window.videoChatStat = {
            isSendingVideo: false,
            isSendingAudio: false
        };

        console.log("Chat page has been loaded");

        $('#endCall').click(function () {
            // var r = confirm('are you sure you want to end this call?')
            var r = true;
            if (r == true) {
                endCallFunc();
                sendSpecialCommand('END_CALL');
            }
        });

        document.getElementById('videoButton').onclick = function (event) {
            var videoTracks = document.getElementById('myVideo').srcObject.getVideoTracks();

            if (!window.videoChatStat.isSendingVideo) {
                window.videoChatStat.isSendingVideo = true;
                this.src = 'http://ipropertymedia.ca/wp-content/uploads/2015/11/video-cam-icon.png';
                if (videoTracks.length > 0)
                    videoTracks[0].enabled = true;
                sendSpecialCommand('VIDEO_ON');
            } else {
                window.videoChatStat.isSendingVideo = false;
                this.src = 'https://cdn0.iconfinder.com/data/icons/video-actions-files/24/camera_record_cam_movie_film_disable_no-512.png ';
                if (videoTracks.length > 0)
                    videoTracks[0].enabled = false;
                sendSpecialCommand('VIDEO_OFF');
            }
        };

        document.getElementById('audioButton').onclick = function (event) {
            var audioTracks = document.getElementById('myVideo').srcObject.getAudioTracks();

            if (!window.videoChatStat.isSendingAudio) {
                window.videoChatStat.isSendingAudio = true;
                this.src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSECKmguesfSHxGievwLyyZroJI7yfugkk5IugriHVLXkLwUDIc';
                if (audioTracks.length > 0)
                    audioTracks[0].enabled = true;
                sendSpecialCommand('AUDIO_ON');
            } else {
                window.videoChatStat.isSendingAudio = false;
                this.src = 'https://image.flaticon.com/icons/svg/39/39517.svg';
                if (audioTracks.length > 0)
                    audioTracks[0].enabled = false;
                sendSpecialCommand('AUDIO_OFF');
            }
        };

        $('#closeMyVideoBtn').change(function () {
            var newState = $(this).prop('checked');
            if (newState)
                $('#myVideo')[0].style.visibility = "visible";
            else
                $('#myVideo')[0].style.visibility = "hidden";
        })


        // var sendButton = document.getElementById("btnSend");
        // sendButton.addEventListener("click", function () {
        //     var textElement = document.getElementById("textfield");
        //     var message = textElement.value;
        //     textElement.value = '';
        //     if (message && message.length != 0) {
        //         var encryptedMessage = aesObject.encrypt(message);
        //         socket.emit('text', {msg: encryptedMessage, userName: userName, userPhoto: userPhoto});
        //     }
        // });
    };

    window.onbeforeunload = function () {
        // socket.emit('left-user', {email: userEmail});
    };

    function createContactList(users) {
        var myContactDiv = document.getElementById("myContact");
        var contactListDiv = document.getElementById("contactList");
        if (contactListDiv == null)
            return;
        contactListDiv.innerHTML = '';
        myContactDiv.innerHTML = '';

        for (let email in users) {
            var button = createContactButton(email);

            if (email == userEmail) {
                button.disabled = true;
            }

            if (email == userEmail) {
                myContactDiv.appendChild(button);
            } else {
                contactListDiv.appendChild(button);

                var br = document.createElement("br");
                contactListDiv.appendChild(br);
            }
        }
    }

    function createContactButton(email) {
        var button = document.createElement("button");
        button.className = "chip";
        button.onclick = function () {
            if (clientsOnCall && clientsOnCall.length != 0 && clientsOnCall.indexOf(window.originalUser) != -1) {
                alert('You can not call while you are already in a call');
                return;
            }

            var currentUserEmail = email;
            if (clientsOnCall && clientsOnCall.indexOf(currentUserEmail) != -1) {
                var message = `User: ${currentUserEmail} is already in a call and cant accept your request`;
                $('#userInCallLbl')[0].innerHTML = message;
                document.getElementById('userInCallAlertBox').style.display = "block";
                return;
            }
            document.getElementById("contactList").style.display = "none"
            var myMusic = document.getElementById("musicC");
            myMusic.currentTime = 0;
            myMusic.play();
            $('#loading')[0].style.visibility = 'visible';

            window.location.href = "http://" + location.hostname + ":8081/#init";
            window.initiateVideoChat();

            // setTimeout(function () {
            //     // document.getElementById("videoChatForm").submit();
            //     // $('form').submit();
            //     $('#targetEmail').val(currentUserEmail)
            //     window.targetUser = currentUserEmail;
            //     $('#startConversation').click();
            // }, 8000);

            window.onGettingSignal = function() {
                if (location.hash === '#init') { // If this is the call initiator
                    $('#targetEmail').val(currentUserEmail)
                    window.targetUser = currentUserEmail;
                    $('#startConversation').click();
                }
            };

            setTimeout(function () {
                $('#loading')[0].style.visibility = 'hidden';
                var myMusic = document.getElementById("musicC");
                myMusic.pause();
                window.initiateVideoChat();
            }, 120000);
        };
        var textNode = document.createTextNode(email);
        button.appendChild(textNode);
        var photo = document.createElement("img");
        photo.src = 'https://www.w3schools.com/howto/img_avatar.png';
        photo.alt = email;
        photo.width = 96;
        photo.height = 96;
        button.appendChild(photo);
        return button;
    }

    function addNewMessage(message, isOwner) {
        if (message == 'END_CALL') {
            window.location.href = "http://" + location.hostname + ":8081/";
            endCallFunc();
            document.getElementById('callHasEndedMessage').style.display = "block"
            window.setTimeout(function () {
                $("#callHasEndedMessage").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4000);
        } else if (message == 'VIDEO_ON') {
            document.getElementById('videoMain').srcObject.getVideoTracks()[0].enabled = true;
        } else if (message == 'VIDEO_OFF') {
            document.getElementById('videoMain').srcObject.getVideoTracks()[0].enabled = false;
        } else if (message == 'AUDIO_ON') {
            document.getElementById('videoMain').srcObject.getAudioTracks()[0].enabled = true;
        } else if (message == 'AUDIO_OFF') {
            document.getElementById('videoMain').srcObject.getAudioTracks()[0].enabled = false;
        } else {
            var chatsDiv = document.getElementById("chatlogs");
            var node = document.createElement("div");

            if (isOwner)
                node.className = "chat self";
            else
                node.className = "chat friend";

            var innerDiv = document.createElement("div");
            var photo = document.createElement("img");
            photo.src = 'https://www.w3schools.com/howto/img_avatar.png';
            innerDiv.appendChild(photo);
            innerDiv.className = "user-photo";
            var innerP = document.createElement("p");
            innerP.className = "chat-message";
            node.appendChild(innerDiv);
            node.appendChild(innerP);
            var textNode = document.createTextNode(message);
            innerP.appendChild(textNode);
            chatsDiv.appendChild(node);
        }
    }

    function stoppedTyping() {
        if (document.getElementById("textfield").value.length > 0) {
            document.getElementById("btnSend").disabled = false;
        } else {
            document.getElementById("btnSend").disabled = true;
        }
    }
</script>

<audio id="musicC">
    <source src="Telephone Calling Tone Sound Effect.mp3" type="audio/mpeg">
</audio>

<audio id="musicR">
    <source src="iPhone Ringtone Trap Remix.mp3" type="audio/mpeg">
</audio>

</body>
</html>
