<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!--<script src="nunjucks.js"></script>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/profile_style.css">
</head>
<body>


<div id="contactList">
    <button class="chip">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Person" width="96" height="96">
        John Doe
    </button>
    <br>
    <button class="chip">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Person" width="96" height="96">
        John Doe
    </button>
    <br>
    <button class="chip">
        <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Person" width="96" height="96">
        John Doe
    </button>
</div>


<div id="callWindow" style="display: none;">
    <div class="alert alert-success" role="alert">
        <div style="text-align: center;">
            Incoming call from <strong><label id="callerName"></label></strong>
            <br/><br/>
            <button type="button" class="btn btn-success">Answare</button>
            <button type="button" class="btn btn-danger">Deny</button>
        </div>
    </div>
</div>

<hr/>
<br/><br/><br/>

<label>Your ID:</label><br/>
<textarea id="yourId"></textarea><br/>
<label>Other ID:</label><br/>
<textarea id="otherId"></textarea>
<button id="connect">connect</button>
<br/>

<label>Enter Message:</label><br/>
<textarea id="yourMessage"></textarea>
<button id="send">send</button>
<pre id="messages"></pre>


<ul id="messages"></ul>
<hr/>
<form action="">
    Please enter partner email: <input id="targetEmail" autocomplete="off"/>
    <br/><br/>
    Please enter your video id: <input id="myVideoId" autocomplete="off"/>
    <br/> <br/>
    <button id="start">Start Conversation</button>
</form>
<hr/>


<script src="index.js" charset="utf-8"></script>


<script language="JavaScript">
    $(function () {
        var userEmail = '<%= person %>';

        var socket = io();
        $('form').submit(function (e) {
            e.preventDefault(); // prevents page reloading
            socket.emit('startVideoChat', {
                targetEmail: $('#targetEmail').val(),
                peerId: $('#yourId').val(),
                userEmail: userEmail
            });
            $('#targetEmail').val('');
            $('#myVideoId').val('');
            return false;
        });

        socket.on('newUserConnected', function (msg) {
            // $('#messages').append($('<li>').text(msg));
            console.log('newUserConnected, all clients: ' + JSON.stringify(msg.allClients));
            createContactList(msg.allClients);
        });

        socket.on('chat message', function (msg) {
            $('#messages').append($('<li>').text(msg));
        });

        socket.on('askForVideoChat', function (msg) {
            console.log('asked for video chat: ' + msg);
            document.getElementById('callerName').value = msg.requesterEmail;
            document.getElementById('callWindow').style.display = "block"; // block / inline
            //TODO: map email to name

            var otherPeerId = msg.requesterCode;
            var requesterEmail = msg.requesterEmail;
            window.alert(requesterEmail + " asked for video chat");

            $('#otherId').val(otherPeerId)
            $('#connect').click();

            setTimeout(function () {
                var myId = $('#yourId').val();
                console.log('myId: ' + myId);
                console.log('requesterEmail: ' + requesterEmail);

                socket.emit('answareVideoChat', {
                    originalEmail: requesterEmail,
                    answaredId: myId
                });
            }, 1000);
        });

        socket.on('ansForVideoChat', function (msg) {
            console.log('answare for video chat: ' + msg);

            var otherPeerId = msg.peerId;
            $('#otherId').val(otherPeerId)
            $('#connect').click();
        });

        console.log('User email is: ' + userEmail);
        socket.emit('add-user', {email: userEmail});
    });


    window.onload = function () {
        // var sendButton = document.getElementById("btnSend");
        // sendButton.addEventListener("click", function () {
        //     var textElement = document.getElementById("textfield");
        //     var message = textElement.value;
        //     textElement.value = '';
        //     if (message && message.length != 0) {
        //         var encryptedMessage = aesObject.encrypt(message);
        //         socket.emit('text', {msg: encryptedMessage, userName: userName, userPhoto: userPhoto});
        //     }
        // });
    };




    function createContactList(users) {
        var contactListDiv = document.getElementById("contactList");
        if (contactListDiv == null)
            return;
        contactListDiv.innerHTML = '';

        for (var email in users) {
            var button = document.createElement("button");
            button.className = "chip";

            var textNode = document.createTextNode(email);
            button.appendChild(textNode);

            var photo = document.createElement("img");
            photo.src = 'https://www.w3schools.com/howto/img_avatar.png';
            photo.alt = email;
            photo.width = 96;
            photo.height = 96;
            button.appendChild(photo);

            contactListDiv.appendChild(button);

            var br = document.createElement("br");
            contactListDiv.appendChild(br);
        }
    }
</script>

<%=person %>
the mm
<% if (message) { %>
    <p><%= message %></p>
<% } %>

</body>
</html>
