body {
    /*background-color: gray;
    background-image: url("https://storage.pixteller.com/designs/designs-images/2017-07-24/03/backgrounds-abstract-background-image-1-5975e930e94b1.png");
    background-repeat: no-repeat;*/
}


td {
    background-repeat: no-repeat;
    background-position: center;
    align: "left";
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
    margin: 5px;
    width: 300px;
    text-align: left;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.alert {
    /*width: 40%;*/
    align-content: center;
}

#videoMain {
    /*align-content: center;*/
    /*border-width: 2px;*/
    width: 500px;
}

#body td {
    vertical-align: top;
    text-align: center;
}


.chatbox {
    width: 500px;
    min-width: 390px;
    height: 600px;
    background: #fff;
    padding: 25px;
    margin: 20px auto;
    /*box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.userList {
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatlogs {
    padding: 10px;
    width: 100%;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chatlogs::-webkit-scrollbar {
    width: 10px;
}

.chatlogs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .1);
}

.chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

.adminMessage {
    border-radius: 25px;
    border: 2px solid #6699ff;
    padding: 20px;
    width: 400px;
    height: 2px;
    text-align: center;
    margin-bottom: 10px;
}

.chat .user-photo {
    width: 60px;
    height: 60px;
    background: #ccc;
    border-radius: 50%;
    overflow: hidden;
}

.chat .user-photo img {
    width: 100%
}

.chat .chat-message {
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

.friend .chat-message {
    background: #1adda4;
}

.self .chat-message {
    background: #1ddced;
    order: -1;
}

.chat-form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.chat-form input {
    background: #fbfbfb;
    width: 75%;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
}

.chat-form textarea:focus {
    background: #fff;
}

#myContact {
    position: relative;
}

.chat-form button {
    background: #1ddced;
    padding: 5px 15px;
    font-size: 25px;
    color: #fff;
    border: none;
    margin: 0 10px;
    border-radius: 3px;
    box-shadow: 0 3px 0 #0eb2c1;
    cursor: pointer;
    -webkit-transaction: background .2s ease;
    -moz-transaction: backgroud .2s ease;
    -o-transaction: backgroud .2s ease;
}

.chat-form button:hover {
    background: #13c8d9;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid black; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin-bottom: 300px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div.c {
    font-size: 20px;
    font-weight: bold;
}

div.alert alert-success {
    font-size: 20px;
}